# 1. Конфигурационный файл с секретными данными
# Этот файл никогда не должен попасть в публичный репозиторий.
config.py

# 2. Лог-файлы
# Файл для отладки, который создается автоматически и не нужен в репозитории.
generation_log.txt

# 3. Данные приложения и сессионные файлы Telegram
# Игнорируем всё содержимое папки data/, включая подпапки.
data/*

# Исключение для accounts.json. Git будет отслеживать этот файл,
# но проигнорирует все остальные в папке data/.
# Убедитесь, что в репозиторий вы добавляете ПУСТОЙ или шаблонный accounts.json.
!data/accountsExample.json

# Игнорируем файлы сессий Telethon, которые могут создаваться в корне проекта.
*.session
*.session-journal

# 4. Стандартные исключения для Python
# Папка виртуального окружения (может называться venv, .venv, env и т.д.).
/venv/
/.venv/
/env/

# Кэш Python.
__pycache__/
*.pyc